<!DOCTYPE HTML>
<html>
<head>
<title>Shuffle</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta keywords = "music, tinder, shuffle, discover, reccomend music">
    <link rel="shortcut icon" href="images/favicon.png" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}"/>
</head>
<body style="background-color:#d32f2f;">
<div class="section no-pad-bot" id="index-banner">
	<div class="container">
	  	<h3 class="header center-on-small-only white-text center">Musique{{g.user.username}}</h3>
	    <div class="row center">
	        <h6 class ="header col s12 light center white-text">A funky way to discover music.</h6>
	    </div>
        <div class="col m12 offset-s6">
            <div class="row center offset-s12">
                <form class="col s12 center" id="login">
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" placeholder="email" required style="color:#fff">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="pass" type="password" placeholder="*******" class="validate" required style="color:#fff">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col m12">
                            <p class="flow-text">
                            	<a class="btn btn-large waves-effect waves-light" type="button" name="signup" onclick="signUp();">Signup?</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-large waves-effect waves-light right-align" style="float:right;" type="button" name="login">Login</button>
                            </p>
                        </div>
                    </div>
                </form>
                <form class="col s12 center" id="signup" hidden>
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" placeholder="full name" required style="color:#fff">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" placeholder="email" required style="color:#fff">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" placeholder="*******" required style="color:#fff">
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col m12">
                            <p class="flow-text">
                            	<a class="btn btn-large  waves-effect waves-light" type="button" name="login" onclick="LogIN();">Login?</a>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="btn btn-large waves-effect waves-light right-align" align="right" style="float:right;" type="button" name="login">Register</button>
                            </p>
                        </div>
                    </div>
                </form>


            </div>
        </div>
	</div>
</div>
</body>
<script>
function signUp(){
	document.getElementById("signup").hidden = false;
	document.getElementById("login").hidden = true;
}
function LogIN(){
	document.getElementById("signup").hidden = true;
	document.getElementById("login").hidden = false;
}
</script>
</html>