<html>
  <head>
    <title>Shuffle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta keywords = "music, tinder, shuffle, discover, recommend music">
    <link rel="shortcut icon" href="images/favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'slick/slick-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/materialize.min.css')}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</head>
<body style="background-color: #ef5350;" color="#fff;">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Musique&nbsp;&nbsp;{{g.user.username}}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/swipe">Shuffle</a></li>
        <li><a href="/playlist">Playlist</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a target="_blank" href="https://soundcloud.com">Powered By SoundCloud and Azure</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/playlist">Playlist</a></li>
        <li><a href="/swipe">Shuffle</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a target="_blank" href="https://soundcloud.com">Powered By SoundCloud and Azure</a></li>
      </ul>
    </div>
</nav>
<p class="flow-text" align="center" id="songname">{{ song_dict.title }}</p>

<div class="container" style="position: relative;height: 300;width:100%;">
    <div class="row center">

      <div class="single-item" align="center">
        <div><img class="responsive offset-s2" align="center"  width="300" height="300" src="{{ song_dict.artwork_url }}" id="image1"></div>

        <div><img class="responsive offset-s2" align="center"  width="300" height="300" src="{{ song_dict.artwork_url }}" id="image2"></div>

        <div><img class="responsive offset-s2" align="center"  width="300" height="300" src="{{ song_dict.artwork_url }}" id="image3"></div>

      </div>
  </div>
</div>
<p class="flow-text" align="center" id="bandname" style="padding: 0 0;">{{ song_dict.artist }}</p>
<div class="row" align='center'>
    <a class="btn-floating red btn-large" style="float: center" id='thumbsdown'><i class="material-icons">thumb_down</i></a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="btn-floating green btn-large" style="float: center" id='thumbsup'><i class="material-icons">thumb_up</i></a>
</div>
<div id="track" hidden>{{ song_dict.track_no }}</div>

<div id="username" hidden>{{ g.user.username }}</div>

    <script>
    var loc = "http://localhost:5000";


    $(document).ready(function(){
        $('.single-item').on('swipe', function(event, slick, direction){
          console.log("event aaya re");
          $.getJSON(loc + '/track/', {
              track_no: $('#track').text(),
              username: $('#username').text(),
              dir: direction
              }, function(data) {
                console.log(data);
              $("#image1").attr("src", data.artwork_url);
              $("#image2").attr("src", data.artwork_url);
              $("#image3").attr("src", data.artwork_url);

              $("#music").attr("src", data.stream_url);
              var audio = document.getElementById('player');
              console.log(audio);
              // audio.pause();
              audio.load();
              audio.play();


              $("#track").text(data.track_no);
              $("#bandname").text(data.artist);
              $("#songname").text(data.title);
          });
        });
        $('#thumbsdown').bind('click', function(){
          // alert("clicked thumbsdown");
          $.getJSON(loc + '/track/', {
              track_no: $('#track').text(),
              username: $('#username').text(),
              dir: 'left'
              }, function(data) {
              $("#image1").attr("src", data.artwork_url);
              $("#image2").attr("src", data.artwork_url);
              $("#image3").attr("src", data.artwork_url);
              $("#music").attr("src", data.stream_url);
              $("#track").text(data.track_no);
              $("#bandname").text(data.artist);
              $("#songname").text(data.title);
          });
        });
        $('#thumbsup').bind('click', function() {
          // alert("clicked thumbsup");
          $.getJSON(loc + '/track/', {
              track_no: $('#track').text(),
              username: $('#username').text(),
              dir: 'right'
              }, function(data) {
              $("#image1").attr("src", data.artwork_url);
              $("#image2").attr("src", data.artwork_url);
              $("#image3").attr("src", data.artwork_url);
              $("#music").attr("src", data.stream_url);
              $("#track").text(data.track_no);
              $("#bandname").text(data.artist);
              $("#songname").text(data.title);
          });
        });
        $('.single-item').slick({
          initialSlide: 1,
          mobileFirst: true,
          arrows: false,
          accessibility: true,
          cssEase: 'linear'
      });
      $(".button-collapse").sideNav();
    });
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  <audio controls id="player" hidden autoplay='true'><source src="{{ song_dict.stream_url }}" type="audio/ogg" id='music'></audio>
  </body>
</html>
