<html>
  <head>
    <title>Shuffle</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta keywords = "music, tinder, shuffle, discover, reccomend music">
    <link rel="shortcut icon" href="images/favicon.png" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.0.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'slick/slick.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'slick/slick-theme.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/materialize.min.css')}}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</head>
  <body style="background-color: #ef5350;" color="#fff;">
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Shuffle</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Playlist</a></li>
        <li><a href="random.html">Tinder</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </div>
</nav>
<p class="flow-text" align="center" id="songname">Karma Police</p>

<div class="container" style="position: relative;height: 300;width:100%;">
    <div class="row center">
      <div class="single-item" align="center">
        <div><img class="responsive offset-s2" align="center"  width="300" height="300" src="http://i1.sndcdn.com/artworks-000025801802-1msl1i-t300x300.jpg?5e64f12"></div>
        <div><img class="responsive"  width="300" align="center" height="300" src="http://i1.sndcdn.com/artworks-000025801802-1msl1i-t300x300.jpg?5e64f12"></div>
        <div><img class="responsive"  width="300" height="300" src="http://i1.sndcdn.com/artworks-000025801802-1msl1i-t300x300.jpg?5e64f12"></div>
      </div>
  </div>
</div>
<p class="flow-text" align="center" id="bandname" style="padding: 0 0;">Radiohead</p>
<div class="row" align='center'>
    <a class="btn-floating red btn-large" style="float: center"><i class="material-icons">thumb_down</i></a>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <a class="btn-floating green btn-large" style="float: center"><i class="material-icons">thumb_up</i></a>
</div>

    <script>
    $(document).ready(function(){
        $('.single-item').on('swipe', function(event, slick, direction){
          console.log(direction);
        });
        $('.single-item').slick({
          mobileFirst: true,
          arrows: true,
          accessibility: true,
          cssEase: 'linear'
      });
      $(".button-collapse").sideNav();
    });
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
  <audio controls hidden autoplay='true'><source src="" type="audio/ogg" id='music'></audio>
  </body>
</html>