<style>
.fullwidth {
    width: 100%;
    margin-left: auto;
	margin-right: auto;
	max-width: initial;
}
.slider {margin: 0;}
.slider .slide {width: 100%; height: 100%;}

.slick-prev {
    left: 0;
    background: red;
}
.slick-next {
    right: 0;
    background: red;
}
.slick-dots {
  bottom: 0px;
  margin-left: 0; /* Fixes the visible horizontal scroll bar */
}
</style>

<header class="text-center">
  <div class="row">
    <div class="columns small-12">
      <h1><a href="home.html">Main heading</a></h1>
    </div>
  </div>

  <div class="row">
    <div class="columns small-12">
      <ul class="inline-list" data-magellan-expedition="fixed">
        <li><a href="home.html" data-magellan-arrival="home">Home</a></li>
        <li><a href="home.html#services" data-magellan-arrival="services">Services</a></li>
        <li><a href="home.html#about" data-magellan-arrival="about">About</a></li>
      </ul>
    </div>
  </div>

  <!-- SLIDER -->

  <div class="row fullwidth">
    <div class="columns small-12 slider">
      <div class="text-center slide" style="background: url('http://placehold.it/1600x650&text=[Slide1]');">
        <h1>Slide 1 heading</h1>
        <p>Slide 1 text</p>
      </div>
      <div class="text-center slide" style="background: url('http://placehold.it/1600x650&text=[Slide2]');">
        <h1>Slide 2 heading</h1>
        <p>Slide 2 text</p>
      </div>
    </div>
  </div>
</header>


<script>$('.slider').slick({
      dots: true,
      autoplay: true,
      autoplaySpeed: 8000,
      mobileFirst: true,
    })
</script>
